doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet" href="https://learning-management-system-lxj1-2retco8nk.vercel.app/assets/css/styles.css")     
        block content-head 
    body 
        include header
        
        block content-body  

        include footer
