extends userLayout

block content-body
  .main-content
    h1 Assignments
    p Here you can view and manage your assignments.

    table
      thead
        tr
          th Assignment
          th Due Date
          th Status
      tbody
        tr
          td Math Homework
          td 2024-10-25
          td In Progress
        tr
          td Science Project
          td 2024-11-01
          td Completed
