extends userLayout

block content-body
  .main-content
    h1 Quiz
    p Take your quizzes here.

    // Example quiz list
    ul
      li 
        a(href="/quiz/math") Math Quiz
      li 
        a(href="/quiz/science") Science Quiz
